node_modules
./pb/pb_data
./pb/pb_data*
./pb/pocketbase*
.env
.env.*
.dockerignore
.editorconfig
.gitignore
.pnpm-store
.svelte-kit
.git
.DS_Store
_sources
Insomnia*
docker*
Dockerfile*
README.md
LICENSE.md
package-lock.json
*.zip
