@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 12% 22%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 12% 22%;

		--card: 0 0% 100%;
		--card-foreground: 240 12% 22%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary: 240 15% 17%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 15% 17%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 15% 17%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 12% 22%;

		--radius: 0.5rem;

		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 15% 17%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 15% 17%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.dark {
		--background: 240 12% 22%;
		--foreground: 0 0% 98%;

		--muted: 240 15% 17%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 12% 22%;
		--popover-foreground: 0 0% 98%;

		--card: 240 12% 22%;
		--card-foreground: 0 0% 98%;

		--border: 240 15% 17%;
		--input: 240 15% 17%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 15% 17%;

		--secondary: 240 15% 17%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 15% 17%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 4.9% 83.9%;

		--sidebar-background: 240 15% 17%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 15% 17%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 15% 17%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	@font-face {
		font-family: 'geist';
		font-style: normal;
		font-weight: 100 900;
		src: url(/fonts/geist.woff2) format('woff2');
	}

	@font-face {
		font-family: 'geist-mono';
		font-style: normal;
		font-weight: 100 900;
		src: url(/fonts/geist-mono.woff2) format('woff2');
	}
}
